# Dependencies
node_modules/

# Runtime data
pids
*.pid
*.seed
*.pid.lock

# Logs
logs/
*.log
npm-debug.log*

# PM2
.pm2/

# Environment variables
.env

# OS files
.DS_Store
Thumbs.db

# Backup files
*.backup
*.bak